{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <div class="grid">
  {{- range .Resources.ByType "image" }}
    {{- with .Resize "1200x" }}
    <div><a href="{{ .RelPermalink }}" class="glightbox" data-gallery="gallery">
    {{- end }}
    {{- with .Resize "600x" }}
       <img src="{{ .RelPermalink }}" /></a></div>
    {{- end }}
  {{- end }}
  </div>
  <script src="/js/glightbox.min.js"></script>
  <script type="text/javascript">
  const lightbox = GLightbox({
    touchNavigation: true,
    loop: true});
  </script>
{{ end }}
